/*

!/.gitignore
!/KLab.meta
!/LICENSE
!/LICENSE.meta
!/package.json
!/package.json.meta
!/README.md
!/README.md.meta

!/KLab/
!/Plugin~/
/Plugin~/*
!/Plugin~/BuildScripts/
!/Plugin~/Include/
!/Plugin~/Internal/
!/Plugin~/SourceFiles/
!/Plugin~/Vendor/
/Plugin~/Vendor/ios-cmake/*
!/Plugin~/Vendor/ios-cmake/.placeholder
/Plugin~/Vendor/UnityPluginApi/*
!/Plugin~/Vendor/UnityPluginApi/.placeholder
!/Plugin~/CMakeLists.txt
